<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="addInventoryForm" (ngSubmit)="submitForm();">
      <mat-card class="add-Inventory-card">
        <mat-card-header>
          <mat-card-title class="add-Inventory-title">New Inventory</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">

            <!-- Inventory Item Input Field -->
            <mat-form-field>
              <mat-label>Item</mat-label>
              <input matInput formControlName="Item" required>
              @if (formControlHasError('item')) {
              <mat-error data-test="item">
                {{getErrorMessage('item')}}
              </mat-error>
              }
            </mat-form-field>

            <!-- Description Input Field -->
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput type="description" formControlName="email" required>
              @if (formControlHasError('description')) {
              <mat-error data-test="description">
                {{getErrorMessage('description')}}
              </mat-error>
              }
            </mat-form-field>

            <!-- brand Input Field -->
            <mat-form-field>
              <mat-label>Brand</mat-label>
              <input matInput type="brand" formControlName="address" required>
              @if (formControlHasError('brand')) {
              <mat-error data-test="brand">
                {{getErrorMessage('brand')}}
              </mat-error>
              }
            </mat-form-field>

            <!-- Color Input Field -->
            <mat-form-field>
              <mat-label>Color</mat-label>
              <input matInput type="color" formControlName="timeSlot" required>
              @if (formControlHasError('Color')) {
              <mat-error data-test="color">
                {{getErrorMessage('color')}}
              </mat-error>
              }
            </mat-form-field>

            <!-- Size Input Field -->
            <mat-form-field>
              <mat-label>Size</mat-label>
              <input matInput type="size" formControlName="size" required>
              @if (formControlHasError('size')) {
              <mat-error data-test="size">
                {{getErrorMessage('size')}}
              </mat-error>
              }

            <!-- Type Input Field -->
            <mat-form-field>
              <mat-label>Count</mat-label>
              <input matInput type="type" formControlName="count" required>
              @if (formControlHasError('type')) {
              <mat-error data-test="type">
                {{getErrorMessage('type')}}
              </mat-error>
              }
            </mat-form-field>

            <!-- Material Input Field -->
            <mat-form-field>
              <mat-label>Material</mat-label>
              <input matInput type="material" formControlName="material" required>
              @if (formControlHasError('material')) {
              <mat-error data-test="material">
                {{getErrorMessage('material')}}
              </mat-error>
              }
            </mat-form-field>



            <!--  -->


        <!-- Submit Inventory Button -->
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button type="button" color="primary" [disabled]="!addInventoryForm.valid" type="submit"
            data-test="confirmAddInventoryButton">
            ADD Inventory
          </button>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>
</div>
