<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="family-list-title">Families</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="flex-row gap-8 flex-wrap">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <!-- As opposed to the RXJS version `[ngModel]="familyName$ | async" (ngModelChange)="familyName$.next($event)" -->
            <!-- Signals are their own getter and setter if left uninvoked like that -->
            <!-- The [()] syntax is saying 'Do both the getting and setting with the respective get/set of the signal' -->
            <input matInput data-test="familyNameInput" placeholder="Filter by name" [(ngModel)]="familyName">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Company</mat-label>
            <input matInput data-test="familyCompanyInput" placeholder="Filter by company" [(ngModel)]="familyCompany">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <div class="flex-row gap-8 flex-wrap">
          <!-- Examples of filtering on the server -->

          <mat-form-field class="input-field">
            <mat-label>Age</mat-label>
            <input matInput data-test="familyAgeInput" type="number" placeholder="Filter by age" min="0" max="200"
              [(ngModel)]="familyAge">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="familyRole" data-test="familyRoleSelect">
              <mat-option>--</mat-option>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="editor">Editor</mat-option>
              <mat-option value="viewer">Viewer</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <br>
        <div class="flex-row gap-8 flex-wrap">
          <label for="viewType">View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  @if (serverFilteredFamilies()) {
  <div class="flex-1">
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div>
      @switch (viewType()) {
      <!-- Card grid view -->
      @case ('card') {
      <div class="family-cards-container flex-row gap-8 flex-wrap">
        @for (family of filteredFamilies(); track family._id) {
        <app-family-card [simple]="true" class="family-card" [family]="family"></app-family-card>
        }
      </div>
      }
      <!-- List view -->
      @case ('list') {
      <mat-card>
        <mat-card-content>
          <mat-nav-list class="family-nav-list">
            <h3 mat-subheader>Families</h3>
            @for (family of filteredFamilies(); track family._id) {
            <a mat-list-item [routerLink]="['/families', family._id]" class="family-list-item">
              @if (family.avatar) {
              <img matListItemAvatar [src]="family.avatar" alt="Avatar for {{ family.name }}">
              }
              <span matListItemTitle mat-line class="family-list-name"> {{family.name}} </span>
              <span matListItemLine class="family-list-role"> {{family.role}} </span>
            </a>
            }
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
      }
      }
    </div>
  </div>
  } @else {
  <div class="flex-1" class="family-error">
    <mat-error>
      There was a problem loading the families. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Please wait a bit and try again or start the server.
    </mat-error>
  </div>
  }

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->

</div>

<button mat-fab class="add-family-fab" matTooltip="Add Family" matTooltipPosition="left" routerLink="/families/new"
  data-test="addFamilyButton">
  <mat-icon class="md-24" aria-label="Add Family">add</mat-icon>
</button>
